.container {
    width: 500px;
    margin: 100px auto;

}

.container button {
    margin: 20px;
    width: 100px;
}

#rect {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 0 auto;
}

.btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.forth {
    margin: o auto;
}

.hidden {
    opacity: 0;
}