.container {
    width: 800px;
    margin: 100px auto;

}

.container button {
    margin: 20px;
    width: 100px;
}

.rect {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 0 auto;
}

.btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.forth {
    margin: o auto;
}

.hidden {
    opacity: 0;
}

.sqrs {
    display: flex;
    justify-content: space-around;
    width: 550px;
}

.sqr {
    height: 100px;
    width: 100px;
    background-color: black;
    margin: 5px;
}

p,
ol {
    text-align: center;
}

.elements-container {
    width: 800px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: rgb(141, 192, 192);
}

#main-input {
    width: 300px;
    margin-left: 200px;
    display: inline-block;
}

.yellow-sqr {
    width: 200px;
    height: 200px;
    background-color: yellow;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}