.container {
    margin: 100px auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p, ol{
    text-align: center;
}

.elements-container {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.item{
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color:rgb(141, 192, 192);
}
.btns {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.hidden{
    opacity: 0;
}

