
.container {
    margin: 100px auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container #btn {
    margin: 20px;
    width: 100px;
    display: inline-block;
}

.sqrs{
    display: flex;
    justify-content: space-around;
}

#rect {
    height: 100px;
    width: 100px;
    background-color: black;
    
}

.hidden {
    opacity: 0;
}